extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='make') Make:
      input#make.form-control(type='text', placeholder='Make of car' name='make' required='true' value=(undefined===car ? '' : car.make) )
    div.form-group
        label(for='model') Model:
        input#model.form-control(type='text', placeholder='Car model' name='model' required='true' value=(undefined===car ? '' : car.model) )
    div.form-group
        label(for='condition') Condition:
        select#condition.form-control(type='select', placeholder='Select condition' name='condition' required='true' )
            option(value='New' selected=(undefined===car ? 'selected' : false) ) New
            option(value='Used' selected=(undefined===car ? false : 'selected') ) Used
    div.form-group
        label(for='year') Year:
        input#year.form-control(type="number" placeholder="YYYY" name="year" min="1900" max="2099" value=(undefined===car ? '' : car.year) required="true")
    div.form-group
        label(for='distance') Mileage:
        input#mileage.form-control(type='number', placeholder='mileage' name='distance' value=(undefined===car ? '' : car.distance) required='true')
    div.form-group
    div.form-group
        label(for='price') Price:
        input#price.form-control(type='text', placeholder='price' name='price' required='true' value=(undefined===car ? '' : car.price) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
